

.form {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.inputDiv {
    width: 100%;
}

.inputDiv,
.btnDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    color: #9CA3AF;
    background-color: #FAFBFE;
}

.inputDiv>select,
.inputDiv>input {
    color: #9CA3AF;
    background-color: #FAFBFE;
    padding: 5px 10px;
    border: none;
    outline: none;
    width: 100%;
}

.btnDiv {
    background-color: #2AA7FF;
}

.btnDiv>button {
    border: none;
    background-color: inherit;
    color: #fff;
}