.detailsPage {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.box {
    height: 80px;
    width: 100%;
    background-color: #2AA7FF;
    border-radius: 0 0 10px 10px;
}

.searchForm {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    z-index: 2;
    width: 90%;
    top: 10rem;
    left: 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
    border: 1px solid #F0F0F0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.inputDiv,
.btnDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    color: #9CA3AF;
    background-color: #FAFBFE;
}

.inputDiv>select,
.inputDiv>input {
    color: #9CA3AF;
    background-color: #FAFBFE;
    padding: 5px 10px;
    border: none;
    outline: none;
    width: 100%;
}

.btnDiv {
    background-color: #2AA7FF;
}

.btnDiv>button {
    border: none;
    background-color: inherit;
    color: #fff;
}

/* ************************************** */
.hContainerDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.containerDiv {
    box-sizing: border-box;
    text-align: left;
    width: 90%;
    margin: 5rem 0;
}

.container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

/* *********************************** */
.hContainer {
    box-sizing: border-box;
    margin-right: 1rem;
    display: flex;
    background-color: #fff;
    padding: 0;
    border-radius: 10px;
    justify-content: space-around;
}

.consultation {
    display: flex;
    flex-direction: column;
}

.hDetails {
    /* width: 60%; */
}

.hDetails>h3 {
    color: #14BEF0;

}

.hDetails>* {
    margin: 10px;
}

.consultationFee {
    border-bottom: 1px dotted #aaa;
    padding-bottom: 1rem;
}

.price {
    color: #787887;

    display: inline;
    text-decoration: line-through;
}

.consultationFee>span {
    font-weight: 700;
    color: #00A500;
}

.bookingBtn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1rem 0;
    gap: 1rem;
}


@media (max-width: 768px) {
    .containerDiv {
        flex-direction: column;
    }

    .hContainer {
        width: 100%;
    }
}